<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ichangyun.InforAnalyaizer.mapper.thematicmonitoring.ThematicmonitoringMapper">
    
     <select id="getAllFA" parameterType="java.lang.String" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ThematicmonitoringBean">
          
          select * from m_planinfo where User_ID=#{userid}
          
     </select>
     
     <update id="updatefa">
		update m_planinfo set PlanName=#{planinfo_name},
						  PlanStartTime=#{fromDate},
						  PlanEndTime=#{toDate},
						  UnitNumber=#{num},
						  UpdateUser=#{userid},
						  UpdateDateTime=NOW()
			 where Plan_ID=#{plan_id}
     </update>
     
     <select id="exist"  resultType="java.lang.Integer">
          select count(1) from m_planinfo where PlanName=#{param} and User_ID=#{userid}
     </select>
     
     <select id="existwithID" resultType="java.lang.Integer">
          select count(1) from m_planinfo where PlanName=#{p2} and User_ID=#{userid} and Plan_ID!=#{p1}
     </select>
     
     <insert id="SaveNewfa"  parameterType="com.ichangyun.InforAnalyaizer.mapper.thematicmonitoring.ThematicmonitoringMapper">
          insert into m_planinfo(User_ID,Plan_ID,PlanName,UnitNumber,CreateUser,CreateDateTime,UpdateUser,UpdateDateTime,PlanStartTime,PlanEndTime)
           values(#{User_ID},#{Plan_ID},#{PlanName},#{UnitNumber},#{CreateUser},NOW(),#{UpdateUser},NOW(),#{PlanStartTime},#{PlanEndTime})
     </insert>
     
     
     <insert id="SaveNewfaDetail" parameterType="java.util.List">
          insert into m_plandetail(Plan_ID,UnitNo,MonitoringWord1,MonitoringWord2,MonitoringWord3,MonitoringWord4,RemoveWord,CreateUser,CreateDateTime,UpdateUser,UpdateDateTime)
           values
           <foreach collection="list" item="item" index="index" separator=",">
		           (#{item.Plan_ID},#{item.UnitNo},#{item.MonitoringWord1},#{item.MonitoringWord2},#{item.MonitoringWord3},#{item.MonitoringWord4},#{item.RemoveWord},
		           #{item.CreateUser},NOW(),#{item.UpdateUser},NOW())
		       </foreach>
     </insert>
     
     <delete id="delfa" parameterType="java.lang.String">
         delete from m_planinfo where Plan_ID=#{param}
     </delete>
    
    <delete id="delfadetail" parameterType="java.lang.String">
         delete from m_plandetail where Plan_ID=#{param}
    </delete>
     
     <select id="getDetail" parameterType="java.lang.String" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ThematicmonitoringBean">
          select * from m_plandetail where Plan_ID=#{param}
     </select>
     
     <select id="getArticleRowCount" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
         select count(*) from a_articlebasicinfo where 
             Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
         and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
         <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
              </if>
              <if test="Plan_ID!=null and Plan_ID!=''">
              and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
              </if>
     </select>
     
     <select id="getArticleRowCountWithHB" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
         select count(1) From a_articlebasicinfo Where Article_ID In 
		   (Select Max(dd.Article_ID) From 
		   (
		     select Article_ID,SimilarArticlesNo from a_articlebasicinfo
		      where 1=1 and Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
         and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
              </if>
             <if test="Plan_ID!=null and Plan_ID!=''">
	             and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
	         </if>
		   ) dd
		   Group By dd.SimilarArticlesNo)
     </select>
     
     <select id="getArticleWithHB" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
          SELECT
				c.*,
				(select MonitoringWord from a_articleplaninfo where Article_ID=c.Article_ID and Plan_ID=#{Plan_ID}) MonitoringWord,
			  (select m.WebsiteName from m_websiteinfo m where m.Website_ID = c.Website_ID) WebsiteName,
			   (
			     select count(1) from a_articlebasicinfo bb where c.SimilarArticlesNo=bb.SimilarArticlesNo and c.Article_ID!=bb.Article_ID
                 and not exists (select 1 from A_UserDeleteArticleInfo db where db.Article_ID=bb.Article_ID and db.User_ID=#{userid})
                <if test="Plan_ID!=null and Plan_ID!=''">
	              and exists (select 1 from a_articleplaninfo where Article_ID=bb.Article_ID and Plan_ID=#{Plan_ID})
	           </if>
			   ) sim_cnt,
			   (select count(1) from m_mycollection cc where cc.Article_ID=c.Article_ID ) collcnt,
         IF(c.Article_ID in (SELECT k.Article_ID FROM a_userearlywarningarticleinfo as k where k.User_ID=#{userid}),"yes","no")  isearlywarning
             FROM
				a_articlebasicinfo c
			WHERE
				c.Article_ID  IN 
				 (
				    Select Max(dd.Article_ID) From 
				      (select Article_ID,SimilarArticlesNo from a_articlebasicinfo
		     				 where 1=1 and Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
			             <if test="search_key!=null and search_key!=''">
                             <if test="search_type=='all'">
                                 and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                             </if>
                             <if test="search_type=='title'">
                                 and ArticleTitle like CONCAT('%',#{search_key},'%')
                             </if>
                             <if test="search_type=='abstract'">
                                and ArticleAbstract like CONCAT('%',#{search_key},'%')
                            </if>
                             <if test="search_type=='text'">
                                 and ArticleText like CONCAT('%',#{search_key},'%')
                             </if>
			             </if>
         and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
			             <if test="emoana!=-1">
			             and EmotionDivision=#{emoana}
			             </if>
			             <if test="infsour!=-1">
			              and SourceDivision=#{infsour}
			             </if>
			             <if test="Plan_ID!=null and Plan_ID!=''">
				             and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
				         </if>
			             <if test="sort==0">
			               order by Releasetime desc
			             </if>
			             <if test="sort==1">
			               order by Releasetime asc
			             </if>
			             ) dd
				 		Group By dd.SimilarArticlesNo
				 )
		     <if test="sort==0">
                order by Releasetime desc
             </if>
		     <if test="sort==1">
                order by Releasetime asc
             </if>
            limit #{l_pre},#{rowSize}
     </select>
     
      <select id="getArticle" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
           select a.*,
           (select MonitoringWord from a_articleplaninfo where Article_ID=a.Article_ID and Plan_ID=#{Plan_ID}) MonitoringWord,
            (select m.WebsiteName from m_websiteinfo m where m.Website_ID = a.Website_ID) WebsiteName,
             (
			     select count(1) from a_articlebasicinfo bb where a.SimilarArticlesNo=bb.SimilarArticlesNo and a.Article_ID!=bb.Article_ID
                 and not exists (select 1 from A_UserDeleteArticleInfo db where db.Article_ID=bb.Article_ID and db.User_ID=#{userid})
                <if test="Plan_ID!=null and Plan_ID!=''">
	             and exists (select 1 from a_articleplaninfo where Article_ID=bb.Article_ID and Plan_ID=#{Plan_ID})
	           </if>
			   ) sim_cnt,
            (select count(1) from m_mycollection c where c.Article_ID=a.Article_ID ) collcnt,
          IF(a.Article_ID in (SELECT k.Article_ID FROM a_userearlywarningarticleinfo as k where k.User_ID=#{userid}),"yes","no")  isearlywarning
          from a_articlebasicinfo a where
             Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
          and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
             </if>
               <if test="Plan_ID!=null and Plan_ID!=''">
	             and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
	         </if>
             <if test="sort==0">
               order by Releasetime desc
             </if>
             <if test="sort==1">
               order by Releasetime asc
             </if>
            limit #{l_pre},#{rowSize}
     </select>
     
     <select id="getlastestNews" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
           select count(1) from a_articlebasicinfo where 
             Releasetime>#{releasetime} 
             and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
            
     </select>
     
     <select id="getSearchLaestRelsetime"  parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.String">
         select Releasetime from a_articlebasicinfo
           ORDER BY Releasetime desc
           limit 0,1
     </select>
     

    <insert id="toyj">
        insert ignore into a_userearlywarningarticleinfo(User_ID,Article_ID,EarlyWarningMode,SensitiveWord_ID) VALUES
        <foreach item="item" index="index" collection="list" separator="," >(#{userid},#{item},"2",0)</foreach>
    </insert>
     

    <insert id="delarticle">
        INSERT INTO a_userdeletearticleinfo (User_ID,DeleteMode,Article_ID) VALUES
        <foreach item="item" index="index" collection="list" separator="," >(#{userid},#{deletemode},#{item})</foreach>

    </insert>

     <select id="getSimContent" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
         
         select a.Article_ID,a.ArticleTitle,a.ArticleURL from a_articlebasicinfo a where a.SimilarArticlesNo=
			(select b.SimilarArticlesNo from a_articlebasicinfo b where b.Article_ID=#{Article_ID}) and a.Article_ID!=#{Article_ID}
			and not exists (select 1 from A_UserDeleteArticleInfo db where db.Article_ID=a.Article_ID and db.User_ID=#{userid})
            <if test="Plan_ID!=null and Plan_ID!=''">
             and exists (select 1 from a_articleplaninfo where Article_ID=a.Article_ID and Plan_ID=#{Plan_ID})
           </if>
	      order by Releasetime desc
         limit 0,#{rowSize}
     </select>
     
     
     <select id="getCollectionType" parameterType="java.lang.String" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.CollectionBean">
             select a.CollectionType_ID,a.CollectionTypeName,a.Parent_CollectionType_ID,a.DisplayOrder
				 from m_collectiontype a where a.User_ID=#{param} and a.ValidFlag='1' order by a.DisplayOrder asc
     </select>
     
     <select id="getNextDisplayorder" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.CollectionBean" resultType="java.lang.Integer">
          select case when max(DisplayOrder) is null then 0 else max(DisplayOrder) end from m_mycollection where User_ID=#{User_ID} and CollectionType_ID=#{CollectionType_ID} for update
     </select>
     
     <insert id="addnewconllect" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.CollectionBean">
         insert into m_mycollection(User_ID,CollectionType_ID,Article_ID,DisplayOrder,CreateUser,CreateDateTime,UpdateUser,UpdateDateTime)
				values(#{User_ID},#{CollectionType_ID},#{Article_ID},#{DisplayOrder},#{User_ID},NOW(),#{User_ID},NOW())
     </insert>
     
     <select id="getConllectCount" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.CollectionBean" resultType="java.lang.Integer">
         select count(1) from m_mycollection where User_ID=#{User_ID} and CollectionType_ID=#{CollectionType_ID} and Article_ID=#{Article_ID}
     </select>
     
     <select id="getContentList" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
      
      select *,DATE_FORMAT(Releasetime,'%Y/%m/%d %H:%i:%s') Releasetime_bak,DATE_FORMAT(Releasetime,'%Y/%m/%d') YMD_Date, 
              DATE_FORMAT(Releasetime,'%H:%i') Hi_Date,
              (select WebsiteName from m_websiteinfo a where a.Website_ID=b.Website_ID ) WebsiteName
              from a_articlebasicinfo b
			 where 1=1  and Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end}
			 <if test="infsour!=-1">
			 and SourceDivision=#{infsour} 
			 </if>
			  <if test="Plan_ID!=null and Plan_ID!=''">
	             and Article_ID in (select Article_ID from a_articleplaninfo where Plan_ID=#{Plan_ID})
	         </if>
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
         and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             order by Releasetime desc
     </select>
     
     <select id="getHotWord" resultType="com.ichangyun.InforAnalyaizer.model.front.HotWordBean">
	      select * from a_hotwordsbasicinfo ORDER BY UpdateDateTime desc LIMIT 0,20
	</select>
	
	<select id="getFAByIdAndUser" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ThematicmonitoringBean">
	      select m2.MonitoringWord1,m2.MonitoringWord2,m2.MonitoringWord3,m2.MonitoringWord4,RemoveWord from M_PlanInfo m1,M_PlanDetail m2
 			where m1.Plan_ID=m2.Plan_ID  and m1.Plan_ID=#{pl_id} and m1.User_ID=#{userid}
	</select>
	
	<select id="getAllFa" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ThematicmonitoringBean">
	   select User_ID,Plan_ID,PlanStartTime,PlanEndTime from M_PlanInfo
	</select>
	
	<select id="getArticleRowCountWithPlanInfo" parameterType="java.lang.String" resultType="java.lang.Integer">
	      select count(1) from a_articlebasicinfo where 1=1  ${sql}
	</select>
	
	<select id="getArticleWithPlanInfo" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ThematicmonitoringBean">
	     select 
         <if test="sql_m1!=''">
             ${sql_m1},
         </if>
	      <if test="sql_m2!=''">
             ${sql_m2},
         </if>
          <if test="sql_m3!=''">
             ${sql_m3},
         </if>
          Article_ID
	      from a_articlebasicinfo a where 1=1  ${sql}  limit #{l_pre},#{rowSize} 
	</select>
	
	<select id="getPlanInfoWordUseCount"  resultType="java.lang.Integer">
	    select count(1) from a_articlebasicinfo where 1=1 and ${sql} and Article_ID=#{Article_ID}
	</select>
	
	<insert id="insertArtileWithPlanInfoBatch" parameterType="java.util.List">
	     insert into a_articleplaninfo(Article_ID,Plan_ID,CreateUser,CreateDateTime,UpdateUser,UpdateDateTime,MonitoringWord)
          values
          <foreach collection ="list" item="planinfo" index= "index" separator =",">
          (
            #{planinfo.Article_ID},#{planinfo.Plan_ID},#{planinfo.User_ID},NOW(),#{planinfo.User_ID},NOW(),#{planinfo.MonitoringWord}
          )
          </foreach>
	</insert>
	
	
	<delete id="delArticleWithPlanInfo" parameterType="java.lang.String">
	    delete from a_articleplaninfo where  Plan_ID=#{pl_id}
	</delete>
	
	<delete id="delAllArticleWithPlanInfo">
	     delete from a_articleplaninfo
	</delete>
	
	<select id="getMTFBData" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
	    select count(a.Article_ID) cnt,SourceDivision,
	    (select MasterValue from m_generalpurpose where MasterTypeID='F004' and MasterID='K005' and Description=a.SourceDivision) MasterValue
	     from a_articlebasicinfo a,a_articleplaninfo b
			where a.Article_ID=b.Article_ID and b.Plan_ID=#{Plan_ID}
			and not EXISTS (
			  select 1 from  a_userdeletearticleinfo c where c.Article_ID=a.Article_ID  and c.User_ID=#{userid}
			)
			and a.Releasetime>=#{montime_start} and a.Releasetime <![CDATA[<= ]]>#{montime_end}
			<if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
              <if test="infsour!=-1">
              and a.SourceDivision=#{infsour}
             </if>
			GROUP BY  a.SourceDivision
	        ORDER BY a.SourceDivision asc
	</select>
	
	<select id="getFZQSByHour" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
			SELECT
				count(a.Article_ID) cnt,
					SourceDivision,
				(select MasterValue from m_generalpurpose where MasterTypeID='F004' and MasterID='K005' and Description=a.SourceDivision) MasterValue,
				  DATE_FORMAT(a.Releasetime,'%Y/%m/%d') Releasetime,
					CASE 
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 0 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 2 then '02'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 2 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 4 then '04'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 4 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 6 then '06'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 6 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 8 then '08'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 8 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 10 then '10'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 10 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 12 then '12'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 12 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 14 then '14'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 14 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 16 then '16'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 16 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 18 then '18'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 18 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 20 then '20'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 20 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 22 then '22'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 22 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 24 then '24'
				 END AS c_hour
				from a_articlebasicinfo a,a_articleplaninfo b
				where a.Article_ID=b.Article_ID and b.Plan_ID=#{Plan_ID}
				and not EXISTS (
				  select 1 from  a_userdeletearticleinfo c where c.Article_ID=a.Article_ID  and c.User_ID=#{userid}
				)
				and a.Releasetime>=#{montime_start} and a.Releasetime <![CDATA[<= ]]>#{montime_end}
			<if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
              <if test="infsour!=-1">
              and a.SourceDivision=#{infsour}
             </if>
		     GROUP BY c_hour
	</select>
	
	<select id="getFZQSByHourDS" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
			SELECT
				count(a.Article_ID) cnt,
					SourceDivision,
				(select MasterValue from m_generalpurpose where MasterTypeID='F004' and MasterID='K005' and Description=a.SourceDivision) MasterValue,
				  DATE_FORMAT(a.Releasetime,'%Y/%m/%d') Releasetime,
					CASE 
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 23  then '01'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 1 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 3 then '03'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 3 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 5 then '05'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 5 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 7 then '07'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 7 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 9 then '19'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 9 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 11 then '11'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 11 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 13 then '13'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 13 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 15 then '15'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 15 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 17 then '17'
				   WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 17 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 19 then '19'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 19 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 21 then '21'
					 WHEN DATE_FORMAT(a.Releasetime ,'%H') >= 21 and DATE_FORMAT(a.Releasetime ,'%H') <![CDATA[< ]]> 23 then '23'
				 END AS c_hour
				from a_articlebasicinfo a,a_articleplaninfo b
				where a.Article_ID=b.Article_ID and b.Plan_ID=#{Plan_ID}
				and not EXISTS (
				  select 1 from  a_userdeletearticleinfo c where c.Article_ID=a.Article_ID  and c.User_ID=#{userid}
				)
				and a.Releasetime>=#{montime_start} and a.Releasetime <![CDATA[<= ]]>#{montime_end}
			<if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
              <if test="infsour!=-1">
              and a.SourceDivision=#{infsour}
             </if>
		     GROUP BY c_hour
	</select>
	
	<select id="getFZQSByDay" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
	   SELECT
		count(a.Article_ID) cnt,
			SourceDivision,
		(select MasterValue from m_generalpurpose where MasterTypeID='F004' and MasterID='K005' and Description=a.SourceDivision) MasterValue,
		  DATE_FORMAT(a.Releasetime,'%Y/%m/%d') Releasetime,'' c_hour
		from a_articlebasicinfo a,a_articleplaninfo b
		where a.Article_ID=b.Article_ID and b.Plan_ID=#{Plan_ID}
		and not EXISTS (
		  select 1 from  a_userdeletearticleinfo c where c.Article_ID=a.Article_ID and c.User_ID=#{userid}
		)
		and a.Releasetime>=#{montime_start} and a.Releasetime <![CDATA[<= ]]>#{montime_end}
			<if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
              <if test="infsour!=-1">
              and a.SourceDivision=#{infsour}
             </if>
		GROUP BY DATE_FORMAT(a.Releasetime,'%Y/%m/%d')
	</select>
	
	<select id="getCBTHData" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
	      SELECT
			SourceDivision,
			a.Article_ID,
			a.ArticleTitle,
			(select w.WebsiteName from m_websiteinfo w where a.Website_ID=w.Website_ID) WebsiteName ,
			ReprintType,
           ReprintSourceArticle_ID,
		  DATE_FORMAT(a.Releasetime,'%Y/%m/%d') Releasetime
		from a_articlebasicinfo a,a_articleplaninfo b
		where a.Article_ID=b.Article_ID and b.Plan_ID=#{Plan_ID}
		and not EXISTS (
		  select 1 from  a_userdeletearticleinfo c where c.Article_ID=a.Article_ID and c.User_ID=#{userid}
		)
		and a.Releasetime>=#{montime_start} and a.Releasetime <![CDATA[<= ]]>#{montime_end}
			<if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
              <if test="infsour!=-1">
              and a.SourceDivision=#{infsour}
             </if>
        order by a.Releasetime asc
	</select>
	
</mapper>
