<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ichangyun.InforAnalyaizer.mapper.collection.MyCollectionMapper">
	<resultMap id="BaseResultMap"
		type="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		<id column="User_ID" property="userId" jdbcType="CHAR" />
		<id column="CollectionType_ID" property="collectiontypeId"
			jdbcType="CHAR" />
		<id column="Article_ID" property="articleId" jdbcType="CHAR" />
		<result column="DisplayOrder" property="displayorder"
			jdbcType="INTEGER" />
		<result column="CreateUser" property="createuser"
			jdbcType="VARCHAR" />
		<result column="CreateDateTime" property="createdatetime"
			jdbcType="TIMESTAMP" />
		<result column="UpdateUser" property="updateuser"
			jdbcType="VARCHAR" />
		<result column="UpdateDateTime" property="updatedatetime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		User_ID, CollectionType_ID, Article_ID, DisplayOrder,
		CreateUser,
		CreateDateTime,
		UpdateUser, UpdateDateTime
	</sql>
	<insert id="insertSelective"
		parameterType="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		insert into m_mycollection
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				User_ID,
			</if>
			<if test="collectiontypeId != null">
				CollectionType_ID,
			</if>
			<if test="articleId != null">
				Article_ID,
			</if>
			<if test="displayorder != null">
				DisplayOrder,
			</if>
			<if test="createuser != null">
				CreateUser,
			</if>
				CreateDateTime,
			<if test="updateuser != null">
				UpdateUser,
			</if>
				UpdateDateTime,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="collectiontypeId != null">
				#{collectiontypeId,jdbcType=CHAR},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=CHAR},
			</if>
			<if test="displayorder != null">
				#{displayorder,jdbcType=INTEGER},
			</if>
			<if test="createuser != null">
				#{createuser,jdbcType=VARCHAR},
			</if>
			now(),
			<if test="updateuser != null">
				#{updateuser,jdbcType=VARCHAR},
			</if>
				now()
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		update m_mycollection
		<set>
			<if test="displayorder != null">
				DisplayOrder = #{displayorder,jdbcType=INTEGER},
			</if>
			<if test="createuser != null">
				CreateUser = #{createuser,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				CreateDateTime = #{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateuser != null">
				UpdateUser = #{updateuser,jdbcType=VARCHAR},
			</if>
			
				UpdateDateTime =now()
			
		</set>
		where User_ID = #{userId,jdbcType=CHAR}
		and CollectionType_ID =
		#{collectiontypeId,jdbcType=CHAR}
		and Article_ID =
		#{articleId,jdbcType=CHAR}
	</update>
	<select id="getOpts"
		resultType="com.ichangyun.InforAnalyaizer.model.SearchOptBean">
		select
		MasterID id,MasterValue name
		from m_generalpurpose
		where MasterTypeID = "F008" order by DisplayOrder
	</select>

	<delete id="delete" parameterType="hashmap">
		delete from m_mycollection
		<where>
			User_ID = #{userid}
			<if test="collectiontypeid!=null">
				and CollectionType_ID = #{collectiontypeid}
			</if>
			<if test="articleId!=null">
				and Article_ID in (${articleId})
			</if>
		</where>
	</delete>
	<update id="updateType" parameterType="hashmap">
		update m_mycollection
		<set>
			CollectionType_ID = #{updateTypeId},
			UpdateDateTime=now()
		</set>
		where User_ID = #{userid}
		and Article_ID in
		(${articleId})
	</update>
	<select id="queryAllO1"
		resultType="com.ichangyun.InforAnalyaizer.model.collection.MyCollectionVo"
		parameterType="hashmap">
		SELECT a.Article_ID articleId,a.CollectionType_ID
		collectiontypeId,a.DisplayOrder displayorder,a.CreateDateTime
		createdatetime,a.CreateUser createuser,
		a.UpdateDateTime
		updatedatetime,a.UpdateUser updateuser,a.User_ID userId,b.ArticleTitle
		articleTitle,b.Releasetime releasetime,
		(select GROUP_CONCAT(CollectionTypeName ORDER BY CollectionStratum asc
		SEPARATOR '>')
		FROM m_collectiontype WHERE LOCATE(CollectionType_ID,
		(select DISTINCT getParentList_collectiontype(c.CollectionType_ID)
		from m_collectiontype))>0 ) allparentname
		FROM (m_mycollection a INNER JOIN
		a_articlebasicinfo b ON a.Article_ID=b.Article_ID)
		INNER JOIN
		m_collectiontype c ON a.CollectionType_ID = c.CollectionType_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and (b.ArticleTitle like concat("%",#{articleTitle},"%")
				or b.ArticleAbstract like concat("%",#{articleTitle},"%")
				or
				b.ArticleText like concat("%",#{articleTitle},"%"))
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
		ORDER BY c.CollectionStratum,c.CollectionPath ASC ,a.UpdateDateTime desc limit
		#{l_pre},#{rowSize}
	</select>

	<select id="queryCountO1" resultType="Integer"
		parameterType="hashmap">
		SELECT count(1) FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON
		a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and (b.ArticleTitle like concat("%",#{articleTitle},"%")
				or b.ArticleAbstract like concat("%",#{articleTitle},"%")
				or
				b.ArticleText like concat("%",#{articleTitle},"%"))
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
	</select>
	
	<select id="queryAllO2"
		resultType="com.ichangyun.InforAnalyaizer.model.collection.MyCollectionVo"
		parameterType="hashmap">
		SELECT a.Article_ID articleId,a.CollectionType_ID
		collectiontypeId,a.DisplayOrder displayorder,a.CreateDateTime
		createdatetime,a.CreateUser createuser,
		a.UpdateDateTime
		updatedatetime,a.UpdateUser updateuser,a.User_ID userId,b.ArticleTitle
		articleTitle,b.Releasetime releasetime,
		(select GROUP_CONCAT(CollectionTypeName ORDER BY CollectionStratum asc
		SEPARATOR '>')
		FROM m_collectiontype WHERE LOCATE(CollectionType_ID,
		(select DISTINCT getParentList_collectiontype(c.CollectionType_ID)
		from m_collectiontype))>0 ) allparentname
		FROM (m_mycollection a INNER JOIN
		a_articlebasicinfo b ON a.Article_ID=b.Article_ID)
		INNER JOIN
		m_collectiontype c ON a.CollectionType_ID = c.CollectionType_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleTitle like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
		ORDER BY c.CollectionStratum,c.CollectionPath ASC,a.UpdateDateTime desc limit
		#{l_pre},#{rowSize}
	</select>

	<select id="queryCountO2" resultType="Integer"
		parameterType="hashmap">
		SELECT count(1) FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON
		a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleTitle like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
	</select>
	
		<select id="queryAllO3"
		resultType="com.ichangyun.InforAnalyaizer.model.collection.MyCollectionVo"
		parameterType="hashmap">
		SELECT a.Article_ID articleId,a.CollectionType_ID
		collectiontypeId,a.DisplayOrder displayorder,a.CreateDateTime
		createdatetime,a.CreateUser createuser,
		a.UpdateDateTime
		updatedatetime,a.UpdateUser updateuser,a.User_ID userId,b.ArticleTitle
		articleTitle,b.Releasetime releasetime,
		(select GROUP_CONCAT(CollectionTypeName ORDER BY CollectionStratum asc
		SEPARATOR '>')
		FROM m_collectiontype WHERE LOCATE(CollectionType_ID,
		(select DISTINCT getParentList_collectiontype(c.CollectionType_ID)
		from m_collectiontype))>0 ) allparentname
		FROM (m_mycollection a INNER JOIN
		a_articlebasicinfo b ON a.Article_ID=b.Article_ID)
		INNER JOIN
		m_collectiontype c ON a.CollectionType_ID = c.CollectionType_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleAbstract like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
		ORDER BY c.CollectionStratum,c.CollectionPath ASC,a.UpdateDateTime desc limit
		#{l_pre},#{rowSize}
	</select>

	<select id="queryCountO3" resultType="Integer"
		parameterType="hashmap">
		SELECT count(1) FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON
		a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleAbstract like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
	</select>
	
		<select id="queryAllO4"
		resultType="com.ichangyun.InforAnalyaizer.model.collection.MyCollectionVo"
		parameterType="hashmap">
		SELECT a.Article_ID articleId,a.CollectionType_ID
		collectiontypeId,a.DisplayOrder displayorder,a.CreateDateTime
		createdatetime,a.CreateUser createuser,
		a.UpdateDateTime
		updatedatetime,a.UpdateUser updateuser,a.User_ID userId,b.ArticleTitle
		articleTitle,b.Releasetime releasetime,
		(select GROUP_CONCAT(CollectionTypeName ORDER BY CollectionStratum asc
		SEPARATOR '>')
		FROM m_collectiontype WHERE LOCATE(CollectionType_ID,
		(select DISTINCT getParentList_collectiontype(c.CollectionType_ID)
		from m_collectiontype))>0 ) allparentname
		FROM (m_mycollection a INNER JOIN
		a_articlebasicinfo b ON a.Article_ID=b.Article_ID)
		INNER JOIN
		m_collectiontype c ON a.CollectionType_ID = c.CollectionType_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
				and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleText like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID
			)
		</where>
		ORDER BY c.CollectionStratum,c.CollectionPath ASC,a.UpdateDateTime desc limit
		#{l_pre},#{rowSize}
	</select>

	<select id="queryCountO4" resultType="Integer"
		parameterType="hashmap">
		SELECT count(1) FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON
		a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null and collectiontypeId!=''">
			and LOCATE(a.CollectionType_ID ,(select DISTINCT getChildList_collectiontype(#{collectiontypeId})
		from m_collectiontype))>0 
			</if>
			<if test="articleTitle!=null and articleTitle!=''">
				and b.ArticleText like concat("%",#{articleTitle},"%")
			</if>
			and not exists (
			   select 1 from a_userdeletearticleinfo where User_ID=#{userId} and Article_ID=a.Article_ID)
		</where>
	</select>
</mapper>