<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.ichangyun.InforAnalyaizer.mapper.collection.MyCollectionMapper">
	<resultMap id="BaseResultMap"
		type="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		<id column="User_ID" property="userId" jdbcType="CHAR" />
		<id column="CollectionType_ID" property="collectiontypeId"
			jdbcType="CHAR" />
		<id column="Article_ID" property="articleId" jdbcType="CHAR" />
		<result column="DisplayOrder" property="displayorder"
			jdbcType="INTEGER" />
		<result column="CreateUser" property="createuser"
			jdbcType="VARCHAR" />
		<result column="CreateDateTime" property="createdatetime"
			jdbcType="TIMESTAMP" />
		<result column="UpdateUser" property="updateuser"
			jdbcType="VARCHAR" />
		<result column="UpdateDateTime" property="updatedatetime"
			jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		User_ID, CollectionType_ID, Article_ID, DisplayOrder,
		CreateUser,
		CreateDateTime,
		UpdateUser, UpdateDateTime
	</sql>
	<insert id="insertSelective"
		parameterType="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		insert into m_mycollection
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				User_ID,
			</if>
			<if test="collectiontypeId != null">
				CollectionType_ID,
			</if>
			<if test="articleId != null">
				Article_ID,
			</if>
			<if test="displayorder != null">
				DisplayOrder,
			</if>
			<if test="createuser != null">
				CreateUser,
			</if>
			<if test="createdatetime != null">
				CreateDateTime,
			</if>
			<if test="updateuser != null">
				UpdateUser,
			</if>
			<if test="updatedatetime != null">
				UpdateDateTime,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="userId != null">
				#{userId,jdbcType=CHAR},
			</if>
			<if test="collectiontypeId != null">
				#{collectiontypeId,jdbcType=CHAR},
			</if>
			<if test="articleId != null">
				#{articleId,jdbcType=CHAR},
			</if>
			<if test="displayorder != null">
				#{displayorder,jdbcType=INTEGER},
			</if>
			<if test="createuser != null">
				#{createuser,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				#{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateuser != null">
				#{updateuser,jdbcType=VARCHAR},
			</if>
			<if test="updatedatetime != null">
				#{updatedatetime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.ichangyun.InforAnalyaizer.model.collection.MyCollection">
		update m_mycollection
		<set>
			<if test="displayorder != null">
				DisplayOrder = #{displayorder,jdbcType=INTEGER},
			</if>
			<if test="createuser != null">
				CreateUser = #{createuser,jdbcType=VARCHAR},
			</if>
			<if test="createdatetime != null">
				CreateDateTime = #{createdatetime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateuser != null">
				UpdateUser = #{updateuser,jdbcType=VARCHAR},
			</if>
			<if test="updatedatetime != null">
				UpdateDateTime = #{updatedatetime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where User_ID = #{userId,jdbcType=CHAR}
		and CollectionType_ID =
		#{collectiontypeId,jdbcType=CHAR}
		and Article_ID =
		#{articleId,jdbcType=CHAR}
	</update>
	<select id="getOpts"
		resultType="com.ichangyun.InforAnalyaizer.model.SearchOptBean">
		select
		DisplayOrder id,MasterValue name
		from m_generalpurpose
		where MasterTypeID = "F008"
	</select>
	<select id="queryAll"
		resultType="com.ichangyun.InforAnalyaizer.model.collection.MyCollectionVo"
		parameterType="hashmap">
		SELECT a.Article_ID articleId,a.CollectionType_ID
		collectiontypeId,a.DisplayOrder displayorder,a.CreateDateTime
		createdatetime,a.CreateUser createuser,
		a.UpdateDateTime
		updatedatetime,a.UpdateUser updateuser,a.User_ID userId,b.ArticleTitle
		articleTitle,b.Releasetime releasetime FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null">
				and a.CollectionType_ID = #{collectiontypeId}
			</if>
			<if test="articleTitle!=null">
				and b.ArticleTitle like concat("%",#{articleTitle},"%")
			</if>
		</where>
		ORDER BY a.DisplayOrder limit #{l_pre},#{rowSize}
	</select>

	<select id="queryCount" resultType="Integer"
		parameterType="hashmap">
		SELECT count(1) FROM m_mycollection a INNER
		JOIN
		a_articlebasicinfo b ON
		a.Article_ID=b.Article_ID
		<where>
			<if test="1==1">
				and a.User_ID=#{userId}
			</if>
			<if test="collectiontypeId!=null">
				and a.CollectionType_ID = #{collectiontypeId}
			</if>
			<if test="articleTitle!=null">
				and b.ArticleTitle like concat("%",#{articleTitle},"%")
			</if>
		</where>
	</select>
	<delete id="delete" parameterType="hashmap">
		delete from m_mycollection
		where User_ID = #{userid}
		and CollectionType_ID = #{collectiontypeid}
		and Article_ID in (${articleId})
	</delete>
	<update id="updateType"
		parameterType="hashmap">
		update m_mycollection
		<set>
			CollectionType_ID = #{updateTypeId}
		</set>
		where User_ID = #{userid}
		and CollectionType_ID =
		#{collectiontypeid}
		and Article_ID in
		(${articleId})
	</update>
</mapper>