<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ichangyun.InforAnalyaizer.mapper.comprehensivemonitoring.ComprehensivemonitoringMapper">
    
    <select id="getArticleRowCount" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
         
          select count(1) from a_articlebasicinfo where 
             Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
              <if test="Classification_ID!=''">
                 and locate(#{Classification_ID},ClassificationPath)>0
              </if>
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                  <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
        and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
              </if>
         
    </select>
    
    <select id="getArticleRowWithHBCount" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
      select count(1) From a_articlebasicinfo Where Article_ID In 
		   (Select Max(dd.Article_ID) From 
		   (
		     
		     select Article_ID,SimilarArticlesNo from a_articlebasicinfo
		      where 1=1 and Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
              <if test="Classification_ID!=''">
                 and locate(#{Classification_ID},ClassificationPath)>0
              </if>
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                  <if test="search_type=='abstract'">
                     and ArticleAbstract like CONCAT('%',#{search_key},'%')
                 </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
        and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
              </if>
		   ) dd
		   Group By dd.SimilarArticlesNo)
		   
    </select>
    
    <select id="getArticleWithHB" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
        SELECT
				c.*,
			  (select m.WebsiteName from m_websiteinfo m where m.Website_ID = c.Website_ID) WebsiteName,<!-- 取得来源网站名称-->
			   (
			     select count(1) from a_articlebasicinfo bb where c.SimilarArticlesNo=bb.SimilarArticlesNo and c.Article_ID!=bb.Article_ID
                  and not exists (select 1 from A_UserDeleteArticleInfo b where b.Article_ID=bb.Article_ID and b.User_ID=#{userid})
			   ) sim_cnt,<!-- 取得相似文章数目 -->
			   (select count(1) from m_mycollection cc where cc.Article_ID=c.Article_ID ) collcnt, <!-- 收藏文章数目 -->
        IF(c.Article_ID in (SELECT k.Article_ID FROM a_userearlywarningarticleinfo as k where k.User_ID=#{userid}),"yes","no")  isearlywarning
            FROM
				a_articlebasicinfo c
			WHERE
				c.Article_ID  IN 
				 (
				    Select Max(dd.Article_ID) From 
				      
				      (select Article_ID,SimilarArticlesNo from a_articlebasicinfo
		     				 where 1=1 and Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
			              <if test="Classification_ID!=''">
				               and locate(#{Classification_ID},ClassificationPath)>0
				          </if>
			             <if test="search_key!=null and search_key!=''">
                             <if test="search_type=='all'">
                                 and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                             </if>
                             <if test="search_type=='title'">
                                 and ArticleTitle like CONCAT('%',#{search_key},'%')
                             </if>
                              <if test="search_type=='abstract'">
                                and ArticleAbstract like CONCAT('%',#{search_key},'%')
                            </if>
                             <if test="search_type=='text'">
                                 and ArticleText like CONCAT('%',#{search_key},'%')
                             </if>
			             </if>
        and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
			             <if test="emoana!=-1">
			             and EmotionDivision=#{emoana}
			             </if>
			             <if test="infsour!=-1">
			              and SourceDivision=#{infsour}
			             </if>
			             ) dd
				 		Group By dd.SimilarArticlesNo
				 )
			 <if test="sort==0">
                order by Releasetime desc
             </if>
		     <if test="sort==1">
                order by Releasetime asc
             </if>
            limit #{l_pre},#{rowSize}
    </select>
    
     <select id="getArticle" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
           select a.*,
            (select m.WebsiteName from m_websiteinfo m where m.Website_ID = a.Website_ID) WebsiteName,
            (
              select count(1) from a_articlebasicinfo b where a.SimilarArticlesNo=b.SimilarArticlesNo and a.Article_ID!=b.Article_ID
              and not exists (select 1 from A_UserDeleteArticleInfo  where Article_ID=b.Article_ID and User_ID=#{userid})
            ) sim_cnt,
            (select count(1) from m_mycollection c where c.Article_ID=a.Article_ID ) collcnt,
         IF(a.Article_ID in (SELECT k.Article_ID FROM a_userearlywarningarticleinfo as k where k.User_ID=#{userid}),"yes","no")  isearlywarning
             from a_articlebasicinfo a where
             Releasetime>=#{montime_start} and Releasetime <![CDATA[<= ]]>#{montime_end} 
              <if test="Classification_ID!=''">
	               and locate(#{Classification_ID},ClassificationPath)>0
	          </if>
             <if test="search_key!=null and search_key!=''">
                 <if test="search_type=='all'">
                     and (ArticleText like CONCAT('%',#{search_key},'%') or ArticleTitle like CONCAT('%',#{search_key},'%') or ArticleAbstract like CONCAT('%',#{search_key},'%'))
                 </if>
                 <if test="search_type=='title'">
                     and ArticleTitle like CONCAT('%',#{search_key},'%')
                 </if>
                  <if test="search_type=='abstract'">
                      and ArticleAbstract like CONCAT('%',#{search_key},'%')
                  </if>
                 <if test="search_type=='text'">
                     and ArticleText like CONCAT('%',#{search_key},'%')
                 </if>
             </if>
         and Article_ID not in (select Article_ID from A_UserDeleteArticleInfo where User_ID=#{userid})
             <if test="emoana!=-1">
             and EmotionDivision=#{emoana}
             </if>
             <if test="infsour!=-1">
              and SourceDivision=#{infsour}
             </if>
             <if test="sort==0">
               order by Releasetime desc
             </if>
             <if test="sort==1">
               order by Releasetime asc
             </if>
            limit #{l_pre},#{rowSize}
     </select>
     
      <select id="getSearchLaestRelsetime"  parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.String">
         select Releasetime from a_articlebasicinfo where 1=1
           <if test="Classification_ID!=''">
               and locate(#{Classification_ID},ClassificationPath)>0
           </if>
           ORDER BY Releasetime desc
           limit 0,1
     </select>
     
      <select id="getlastestNews" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="java.lang.Integer">
           select count(1) from a_articlebasicinfo where 
             Releasetime>#{releasetime} 
              <if test="Classification_ID!=''">
               and locate(#{Classification_ID},ClassificationPath)>0
           </if>
     </select>
     
     
     <!--<delete id="delarticle" parameterType="java.util.List">-->
       <!--delete from a_articlebasicinfo where Article_ID in -->
           <!--<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>  -->
     <!--</delete>-->

    <insert id="delarticle">
        INSERT INTO a_userdeletearticleinfo (User_ID,DeleteMode,Article_ID) VALUES
        <foreach item="item" index="index" collection="list" separator="," >(#{userid},#{deletemode},#{item})</foreach>
     </insert>

     
      <!--<update id="toyj">-->
         <!--update a_articlebasicinfo set EarlyWarningState='1',UpdateUser=#{userid},UpdateDateTime=NOW()-->
         <!--where Article_ID in -->
          <!--<foreach item="item" index="index" collection="list" open="(" separator="," close=")">#{item}</foreach>-->
     <!--</update>-->

    <insert id="toyj">
        insert ignore into a_userearlywarningarticleinfo(User_ID,Article_ID,EarlyWarningMode,SensitiveWord_ID) VALUES
        <foreach item="item" index="index" collection="list" separator="," >(#{userid},#{item},"1",0)</foreach>
    </insert>

     
      <select id="getSimContent" parameterType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean" resultType="com.ichangyun.InforAnalyaizer.model.thematicmonitoring.ArticleInfoBean">
         
         select a.Article_ID,a.ArticleTitle,a.ArticleURL from a_articlebasicinfo a where a.SimilarArticlesNo=
			(select b.SimilarArticlesNo from a_articlebasicinfo b where b.Article_ID=#{Article_ID}) and a.Article_ID!=#{Article_ID}
			and not exists (select 1 from A_UserDeleteArticleInfo b where b.Article_ID=a.Article_ID and b.User_ID=#{userid})
	      order by Releasetime desc 
          limit 0,#{rowSize}
     </select>
     
</mapper>
