<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ichangyun.InforAnalyaizer.mapper.classification.ClassificationSourceMapper">
    
    <select id="getClassifcInfoCount" parameterType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean"  resultType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean">
	  
		  select count(bb.Classification_ID) cnt from (
			SELECT
				a.Classification_ID
			FROM m_classificationinfo a
			WHERE 1 = 1
			  and CollectionField_ID=#{CollectionField_ID} and Customer_ID=#{Customer_ID}
		      and ValidFlag='1'
			  <if test="(ClassificationName==null or ClassificationName=='') and isbinding==0">
			       and Parent_Classification_ID = '0000000000'
			  </if>
			  <if test="(ClassificationName==null or ClassificationName=='') and isbinding!=0">
			         and Classification_ID in (
			   
			   select left(ClassificationPath,10) from m_classificationinfo c where ClassificationName like CONCAT('%',#{ClassificationName},'%')
				  <if test="isbinding==1">
				   HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) > 0
				   </if>
				   <if test="isbinding==2">
				       HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) = 0
				   </if>
			    )
			  </if>
			  <if test="ClassificationName!=null and ClassificationName!=''">
			   and Classification_ID in (
			   
			   select left(ClassificationPath,10) from m_classificationinfo c where ClassificationName like CONCAT('%',#{ClassificationName},'%')
				  <if test="isbinding==1">
				   HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) > 0
				   </if>
				   <if test="isbinding==2">
				       HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) = 0
				   </if>
			    )
			  </if>
			) 
			bb
		  
    </select>
    
    
    <select id="getClassifcInfo" parameterType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean"  resultType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean">
        SELECT  a.Classification_ID,a.ClassificationName ,a.Parent_Classification_ID,
		 (select count(1) from m_classificationinfo c where a.Classification_ID=c.Parent_Classification_ID) children_lg,
		 (select count(DISTINCT b.Website_ID) from m_ClassificationInfoSource b where a.Classification_ID=b.Classification_ID)  binding_lg,
			DATE_FORMAT(a.UpdateDateTime,'%Y/%m/%d %H:%i:%s') UpdateDateTime,
			a.UpdateUser
		from m_classificationinfo a 
		where 1=1
		      and CollectionField_ID=#{CollectionField_ID} and Customer_ID=#{Customer_ID}
		      and ValidFlag='1'
		      <if test="ClassificationName==null or ClassificationName=='' and isbinding==0">
			       and Parent_Classification_ID = '0000000000'
			  </if>
			   <if test="(ClassificationName==null or ClassificationName=='') and isbinding!=0">
			         and Classification_ID in (
			   
			   select left(ClassificationPath,10) from m_classificationinfo c where ClassificationName like CONCAT('%',#{ClassificationName},'%')
				  <if test="isbinding==1">
				   HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) > 0
				   </if>
				   <if test="isbinding==2">
				       HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) = 0
				   </if>
			    )
			  </if>
		     <if test="ClassificationName!=null and ClassificationName!=''">
			   and Classification_ID in (select left(ClassificationPath,10) from m_classificationinfo c where ClassificationName like CONCAT('%',#{ClassificationName},'%')
			      <if test="isbinding==1">
				   HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) > 0
				   </if>
				   <if test="isbinding==2">
				       HAVING
						(
							SELECT
								count(DISTINCT b.Website_ID)
							FROM
								m_ClassificationInfoSource b
							WHERE
								c.Classification_ID = b.Classification_ID
						) = 0
				   </if>
			    )
			  </if>
		  ORDER BY a.DisplayOrder desc
		  limit #{l_pre},#{rowSize} 
    </select>
    
    
    <select id="getWebInfoCount" parameterType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean"  resultType="java.lang.Integer">
         select count(a.Website_ID) from m_websiteinfo a 
            where a.Website_ID not in (select b.Website_ID from m_classificationinfosource b where b.Classification_ID=#{Classification_ID} )
             <if test="WebsiteName!=null and WebsiteName!=''">
			   and a.WebsiteName like  CONCAT('%',#{WebsiteName},'%') 
			</if>
			and CollectionField_ID=#{CollectionField_ID} 
		    and ValidFlag='1'
    </select>
    
    <select id="getWebInfo" parameterType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean"  resultType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean">
        select a.Website_ID,a.WebsiteName,a.Website  from m_websiteinfo a 
            where a.Website_ID not in (select b.Website_ID from m_classificationinfosource b where b.Classification_ID=#{Classification_ID} )
             <if test="WebsiteName!=null and WebsiteName!=''">
			   and a.WebsiteName like  CONCAT('%',#{WebsiteName},'%') 
			</if>
			and CollectionField_ID=#{CollectionField_ID} 
		    and ValidFlag='1'
			order by a.WebsiteName asc
			limit #{l_pre},#{rowSize} 
    </select>
   
   <select id="getchild" parameterType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean"  resultType="com.ichangyun.InforAnalyaizer.model.classification.ClassificationInfoBean">
          SELECT distinct a.Classification_ID,a.ClassificationName ,a.Parent_Classification_ID,
		 (select count(1) from m_classificationinfo c where a.Classification_ID=c.Parent_Classification_ID) children_lg,
		 (select count(1) from m_ClassificationInfoSource b where a.Classification_ID=b.Classification_ID)  binding_lg,
			DATE_FORMAT(a.UpdateDateTime,'%Y/%m/%d %H:%i:%s') UpdateDateTime,
			a.UpdateUser
		from m_classificationinfo a 
		where 1=1 and Parent_Classification_ID=#{Classification_ID}  ORDER BY a.DisplayOrder desc
   </select>
   
   <select id="getAlWebInfoCount" parameterType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean"  resultType="java.lang.Integer">
       select count(DISTINCT b.Website_ID) from m_classificationinfosource a,m_websiteinfo b 
       where a.Classification_ID=#{Classification_ID} and a.Website_ID=b.Website_ID
   </select>
   
   <select id="getAlWebInfo" parameterType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean"  resultType="com.ichangyun.InforAnalyaizer.model.webinfo.WebInfoBean">
		select DISTINCT b.Website_ID,b.WebsiteName,b.Website from m_classificationinfosource a,m_websiteinfo b where 
		a.Classification_ID=#{Classification_ID} and a.Website_ID=b.Website_ID ORDER BY a.CreateDateTime desc,b.WebsiteName asc limit #{l_pre},#{rowSize} 
   </select>
   
   <select id="getWebNo" resultType="java.lang.Integer">
        select case when max(Website_No) is null then 0 else max(Website_No) end from m_classificationinfosource for update
   </select>
   
   <insert id="addNewSource" parameterType="java.util.List">
       insert into m_classificationinfosource(Classification_ID,Website_ID,Website_No,CreateUser,CreateDateTime)
			 values
			 <foreach collection="list" item="item" index="index" separator=",">
		           (#{item.Classification_ID},#{item.Website_ID},#{item.Website_No},#{item.CreateUser},NOW())
		       </foreach>
   </insert>
   
   <delete id="delteSource">
		delete from m_classificationinfosource where Classification_ID=#{p1} 
		  and Website_ID in
		  <foreach item="item" index="index" collection="p2" open="(" separator="," close=")">#{item}</foreach>  
   </delete>
   
   <update id="updatesource">
       update m_classificationinfo set UpdateUser=#{p2},UpdateDateTime=NOW() where Classification_ID=#{p1}
   </update>
   
</mapper>
